@import '../../../styles/variables.styl'

.button
  background $dark-gray
  border-radius 3px
  color $light-gray
  display inline-block
  margin 0.5rem
  padding 0.5rem

  &:hover
    cursor pointer
