.baker-landing
  display flex
  flex 1 0 auto
  margin 2rem 7rem

  .link
    color #625e60

    &:hover
      color: #bad3cb

  .social-media-nav
    display flex
    margin 0
    padding 0

  .baker-contents
    display flex
    flex 1 0 auto
    flex-direction column

    .baker-header
      display flex
      flex none
      flex-wrap wrap

      .baker-info
        flex-grow 2
        margin-bottom 1.5rem

        .baker-name
          margin-bottom 0

        .address
          line-height 1.5rem
          margin 1rem 0

      .baker-actions
        align-items center
        flex-basis 300px
        flex-grow 1
        display flex
        opacity 0.7

        .actions
          border 3px solid #bad3cb
          border-radius 0.75rem
          display flex
          flex 1 0 auto
          padding 1rem
          position relative

          &:before
            background #eeebe6
            color #625e60
            content 'Actions'
            font-weight bold
            padding 0.3rem
            position absolute
            top -15px

          .options
            display flex
            flex 1 0 auto
            flex-direction row
            flex-wrap wrap

            .action-item
              align-items center
              display flex
              font-size 4rem
              flex 1 0 auto
              height 7rem
              justify-content center


    .baker-work
      display flex
      flex 1 0 auto

      .recent-imgs
        display flex
        flex 1 0 auto
        flex-direction row
        flex-wrap wrap

        .image-sub
          border 5px solid white
          background-color black
          flex-basis 125px
          height 125px
    
