html, body, .root, main, .app-container
  font-family 'Arial'
  height 100%
  margin 0

  .app-container
    display flex
    flex-direction column
    padding 0

  .app-contents
    display flex
    flex-direction column
    flex 1 0 auto
    position relative

  .nav
    flex none
    border-bottom 2px solid black
    padding 0 1rem
    z-index 1

  .nav-contents
    display flex
    flex-direction row

  .nav-title
    flex none
    margin 0.5rem

  .nav-controls
    display flex
    flex 1 0 auto
    justify-content flex-end

    ul
      display flex
      flex-direction row
      margin 0

    li
      list-style-type none
      margin 0.5rem
    

h1
  font-size 4rem
