html, body, main
  height 100%
  margin 0

  main
    display flex
    flex-direction column
    padding 0.5rem

  .nav
    flex none
    border-bottom 2px solid black
    padding 0 1rem

  .nav-contents
    display flex
    flex-direction row

  .nav-title
    flex none
    margin 0.5rem

  .nav-controls
    display flex
    flex 1 0 auto
    justify-content flex-end

    ul
      display flex
      flex-direction row
      margin 0

    li
      list-style-type none
      margin 0.5rem
    
