.popular-cakes
  .link
    color #625e60
    &:hover
      cursor: pointer
      color: #bad3cb

  .item
    margin-bottom 0.5rem

    .category
      margin-left 0.5rem

  .category-items
    display flex
    flex-direction row
    flex-wrap wrap
    margin 2rem 1rem

    .category-item
      display flex
      flex 1 0 auto
      height 12rem

      img
        width 14rem
