.splash-page
  background: url("https://hd.unsplash.com/photo-1471235174231-eabd02489dd7")
  background-size: cover
  display flex
  flex: 1 0 auto

  &::before
    content:""
    display: block
    height: 100%
    position: absolute
    width: 100%
    background-color: rgba(0, 0, 0, .5)

.splash-page-content
  justify-content center
  color white
  flex 1 0 auto
  text-align center
  z-index 2
