$dark-gray = #766d65
$pink = #F27376
$theme-white = #FFFFFF
$shadow-gray = #888888
$blue = lightblue

clearfix()
  zoom 1
  &:after
  &:before
    content ""
    display table
  &:after
    clear both

