@import '../../styles/variables.styl'

html, body, .root, main, .app-container
  font-family 'Arial'
  height 100%
  margin 0

.root
  background url('http://www.pptbackgrounds.org/uploads/gray-swirl-border-backgrounds-wallpapers.jpg')
  background-repeat no-repeat
  background-size cover

.app-container
  background: rgba(255,255,255,0.8)
  padding 0

.app-contents
  position relative

.nav
  background $dark-gray
  box-shadow 0 0.1rem 2rem $shadow-gray
  font-weight bold
  color $light-gray
  overflow hidden
  padding 0.75rem
  z-index 1

  a
    color $light-gray

.nav-title
  font-size 1.25rem
  float left
  margin 0.5rem

.social-media-nav
  margin 0
  padding 0

.baker-name
  margin-bottom 0

.nav-controls
  float right
  margin 0.75rem

  ul
    margin 0

  .error-status
    text-align center

li
  display inline
  list-style-type none
  margin 0.5rem 0.2rem
    

h1
  font-size 4rem

h2
  font-size 3rem
