@import '../../../styles/variables.styl'

.modal-background
  align-items center
  background rgba(0, 0, 0, 0.3)
  bottom 0
  display flex
  justify-content center
  left 0
  position fixed
  right 0
  top 0
  z-index 2

  .modal
    background white
    border 2px solid $pink
    z-index 3

    .modal-header
      background $dark-gray
      color $pink
      font-weight bold
      padding 1rem

      .close
        float right

        &:hover
          cursor pointer

    .modal-content
      padding 2rem

