<!DOCTYPE html>
<html>
  <head>
    <title>Cakes</title>
  </head>
  <body>
    <main></main>
    <script src="<%= publicPath %>bundle.js"></script>
    <script src="https://use.fontawesome.com/1bfe01b879.js"></script>
  </body>
</html>
