@import '../../styles/variables.styl'

.baker-landing
  .link
    color $dark-gray
    &:hover
      cursor: pointer
      color: $pink

  .baker-contents
    .baker-header
      margin 1.5rem 5rem
      clearfix()

      .baker-info
        display inline
        float left

        .baker-name
          margin-bottom 0

        .address
          line-height 1.25em
          margin 0.5rem 0
          font-size 0.75em

  .baker-actions
    background rgba(255, 255, 255, 0.4)
    border-width 4px 0px
    border-color $blue
    border-style solid
    padding 0.5rem 9rem

    .actions
      clearfix()
      display flex
      flex-wrap wrap

      .action-item
        padding 0.5rem
        text-align center
        flex 1 0 auto

        .action-icon
          font-size 4rem
          margin-right 0.5rem

.logo
  background-size cover !important
  float left
  height 10rem
  margin-right 1rem
  width 10rem

.recent-work
  padding 0 5rem
  clearfix()

  .baker-work
    .recent-imgs
      .image-sub
        background-color $pink
        float left
        height 125px
        margin 5px
        width 125px

