@import '../../styles/variables.styl'

.cake-builder
  .step-viewer
    margin 0 auto
    margin-top 4rem
    width 675px

  .step
    background lightgray
    border-radius 100%
    color white
    display inline
    font-size 1.75em
    margin 5rem
    padding 1rem 1.5rem
    position relative

    &.filled
      background $blue

    + .step::before
      background inherit
      content ' '
      height 1rem
      left -10.25rem
      position absolute
      top 1.75rem
      width 10.75rem
      z-index -1

  .steps-text
    clearfix()

    .step-text
      width 10rem
      float left
      text-align center
      margin 2rem
      font-size 1em


  .test-svg
    border 1px solid $dark-gray
