@import '../../styles/variables.styl'

.popular-cakes
  margin 2rem 7rem
  .link
    color $dark-gray
    &:hover
      cursor: pointer
      color: $teal

  .item
    margin-bottom 0.5rem

    .category
      margin-left 0.5rem

  .category-items
    display flex
    flex-direction row
    flex-wrap wrap
    margin 2rem 1rem

    .category-item
      display flex
      flex 1 0 auto
      height 12rem

      img
        width 14rem

  .item-details
    margin-top 1rem
    text-align center
